!!!
%html
  %head
    %title= t('.title')

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: t('.description')}
    %meta{name: "keywords", content: t('.keywords')}

    = stylesheet_link_tag "application", media: "all"

    = csrf_meta_tags

%body
  %header
    = render "layouts/navigation"

  %section
    = yield

